@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  --theme-light-grey: #6c758f;
  --theme-light-purple: #36187d;
  --theme-light-blue: #0196e3;

  --theme-light-bg: #f2f3f7;
  --theme-light-light-shadow: #ffffff;
  --theme-light-dark-shadow: #d2dce9;

  --theme-dark-purple: #5726c9;
  --theme-dark-blue: #00a0f0;
  --theme-dark-grey: #bac9f5;

  --theme-dark-bg: #1a1b1e;
  --theme-dark-light-shadow: #242529;
  --theme-dark-dark-shadow: #151518;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bellota Text", cursive;
  transition: 0.2s ease-in-out;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .card {
  width: 330px;
  height: 416px;
  padding: 60px 30px;
  margin: 20px;
  border-radius: 20px;
}
.container .card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .card .content .imgBx {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card .content .contentBx h4 {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
.container .card .content .contentBx h5 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.container .card .content .sci {
  margin-top: 20px;
}
.container .card .content .sci a {
  text-decoration: none;
  font-size: 30px;
  margin: 10px;
  transition: color 0.4s;
}

/* Theme Toggler */
#theme-toggler {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  border: none;
  outline: none;
  user-select: none;
  font-size: 2rem;
}
/* theme classes */
.dark-neuromorphism {
  background: var(--theme-dark-bg) !important;
  color: var(--theme-dark-grey) !important;
  box-shadow: 0.6em 0.6em 1.2em var(--theme-dark-dark-shadow),
    -0.5em -0.5em 1em var(--theme-dark-light-shadow) !important;
}
.light-neuromorphism {
  background: var(--theme-light-bg) !important;
  color: var(--theme-light-grey) !important;
  box-shadow: 0.6em 0.6em 1.2em var(--theme-light-dark-shadow),
    -0.5em -0.5em 1em var(--theme-light-light-shadow) !important;
}
.dark-bg {
  background: var(--theme-dark-bg) !important;
}
.dark-headline-text {
  color: var(--theme-dark-purple) !important;
}
.dark-description-text {
  color: var(--theme-dark-grey) !important;
}
.dark-link {
  color: var(--theme-dark-grey) !important;
}
.dark-link:hover {
  color: var(--theme-dark-blue) !important;
}
.light-bg {
  background: var(--theme-light-bg) !important;
}
.light-headline-text {
  color: var(--theme-light-purple) !important;
}
.light-description-text {
  color: var(--theme-light-grey) !important;
}
.light-link {
  color: var(--theme-light-grey) !important;
}
.light-link:hover {
  color: var(--theme-light-blue) !important;
}
/* Media Queries for OS Based Light/Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background: var(--theme-dark-bg);
  }
  .container .card {
    background: var(--theme-dark-bg);
    box-shadow: 0.6em 0.6em 1.2em var(--theme-dark-dark-shadow),
      -0.5em -0.5em 1em var(--theme-dark-light-shadow);
  }
  .container .card .content .contentBx h4 {
    color: var(--theme-dark-purple);
  }
  .container .card .content .contentBx h5 {
    color: var(--theme-dark-grey);
  }
  .container .card .content .sci a {
    color: var(--theme-dark-grey);
  }
  .container .card .content .sci a:hover {
    color: var(--theme-dark-blue);
  }
  #theme-toggler {
    background: var(--theme-dark-bg);
    color: var(--theme-dark-grey);
    box-shadow: 0.6em 0.6em 1.2em var(--theme-dark-dark-shadow),
      -0.5em -0.5em 1em var(--theme-dark-light-shadow);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: var(--theme-light-bg);
  }
  .container .card {
    background: var(--theme-light-bg);
    box-shadow: 0.6em 0.6em 1.2em var(--theme-light-dark-shadow),
      -0.5em -0.5em 1em var(--theme-light-light-shadow);
  }
  .container .card .content .contentBx h4 {
    color: var(--theme-light-purple);
  }
  .container .card .content .contentBx h5 {
    color: var(--theme-light-grey);
  }
  .container .card .content .sci a {
    color: var(--theme-light-grey);
  }
  .container .card .content .sci a:hover {
    color: var(--theme-light-blue);
  }
  #theme-toggler {
    background: var(--theme-light-bg);
    color: var(--theme-light-grey);
    box-shadow: 0.6em 0.6em 1.2em var(--theme-light-dark-shadow),
      -0.5em -0.5em 1em var(--theme-light-light-shadow);
  }
}

/*   colors
         #f2f3f7
        #d2dce9
        #36187d
        #6c758f
        #0196e3
 */
